.buttonStyle {
    border: none;
    outline: none;
    margin-left: 15px;
    color: #340036;
    padding: 17px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: pink;
    transition: all .35s;
    width: 240px;
    letter-spacing: .75px;
}