@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
    --ff-primary: "Inter", sans-serif;

    --fw-reg: 600;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --gradient-text-1: linear-gradient(90deg,#007cf0,#00dfd8);
    --gradient-text-2: linear-gradient(90deg,#7928CA,#FF0080);
    --gradient-text-3: linear-gradient(90deg,#ff4d4d,#f9cb28);
    
    --fs-h1: 4rem;
    --fs-h2: 3.75rem;
    --fs-h3: 2.25rem;
    --fs-h4: 2rem;
    --fs-nav: 2rem;
    --fs-body: 1.5rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body {
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;

  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}